{% extends "web/base.html" %}

{% load i18n %}

{% block head %}
    <style>
        {{ css }}

        .highlight pre > span {
            display: block;
            width: 100%;
            cursor: default;
        }
        .highlight pre > span.marked {
            background-color: #f8eec7;
        }
        #annotation-form {
            position: fixed;
            width: 360px;
        }
        #annotation-form textarea {
            width: 100%;
            height: 400px;
        }
    </style>
{% endblock head %}

{% block javascript %}
    <script type="text/javascript">
    $(function() {
        $('.highlight pre > span').click(function() {
            if ($(this).hasClass('marked')) {
                $(this).removeClass('marked')
            } else {
                $('.highlight pre > span').removeClass('marked');
                $(this).addClass('marked');
                $('input[name="line_number"]').attr('value', $(this).attr('id').slice(5));
            }
        });

        $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
{% endblock %}

{% block content %}
    <div class="col-sm-{% if request.user.is_authenticated %}8{% else %}12{% endif %}">
        {{ code|safe }}
    </div>
    <div class="col-sm-4">
        {% if request.user.is_authenticated %}
        <div id="annotation-form">
        <form action="{% url 'web:submit' %}" method="post">
            {% csrf_token %}
            <textarea name="annotation" autocomplete="off" class="form-control form-group"></textarea>
            <input type="submit" value="{% trans "Save" %}" class="btn btn-default pull-right">
            <input type="hidden" value="{{ relative_path }}" name="path">
            <input type="hidden" value="" name="line_number">
        </form>
        </div>
        {% endif %}
    </div>
{% endblock content %}
