<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code Annotate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

    {% block head %}{% endblock head %}
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'web:browse' %}?path=/">Code Annotate</a>
    </div>
  </div>
</nav>

<div class="container">
    <div class="row">
        {% if breadcrumbs %}
            <div class="col-sm-12">
                <ol class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    {% if not breadcrumb %}
                        {% if relative_path == '/' %}
                            <li class="active">{% trans "Root" %}</li>
                        {% else %}
                            <li><a href="{% url 'web:browse' %}?path=/">{% trans "Root" %}</a></li>
                        {% endif %}
                    {% elif forloop.last %}
                        <li class="active">{{ breadcrumb }}</li>
                    {% else %}
                        <li><a href="{% url 'web:browse' %}?path=/">{{ breadcrumb }}</a></li>
                    {% endif %}
                {% endfor %}
                </ol>
            </div>
        {% endif %}

        {% block content %}{% endblock content %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% block javascript %}{% endblock javascript %}
</body>
</html>
