{% extends "web/base.html" %}

{% block content %}
    <div class="col-sm-12">
        <table class="table table-stripped">
        <tr>
            <td>
                <a href="{% url 'web:browse' %}?path={{ parent_directory }}">
                    <i class="fa fa-fw"></i>
                    <i class="fa fa-folder fa-fw"></i>
                    ..
                </a>
            </td>
        </tr>
        {% for directory in directories %}
            <tr>
                <td>
                    {% if directory.has_annotations %}
                        <i class="fa fa-comment fa-fw"></i>
                    {% else %}
                        <i class="fa fa-fw"></i>
                    {% endif %}
                    <a href="{% url 'web:browse' %}?path={{ relative_path }}{{ directory.directory }}">
                        <i class="fa fa-folder fa-fw"></i>
                        {{ directory.directory }}
                    </a>
                </td>
            </tr>
            {% endfor %}
            {% for file in files %}
            <tr>
                <td>
                    {% if file.has_annotations %}
                        <i class="fa fa-comment fa-fw"></i>
                    {% else %}
                        <i class="fa fa-fw"></i>
                    {% endif %}
                    <a href="{% url 'web:annotate' %}?path={{ relative_path }}{{ file.file }}">
                        <i class="fa fa-file fa-fw" style="color: #000000;"></i>
                        {{ file.file }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
