{% extends "web/base.html" %}

{% block content %}
    <div class="col-sm-12">
        <table class="table table-stripped">
        <tr>
            <td>
                <a href="{% url 'web:browse' %}?path={{ parent_directory }}">
                    <i class="fa fa-folder fa-fw"></i>
                    ..
                </a>
            </td>
        </tr>
        {% for directory in directories %}
            <tr>
                <td>
                    <a href="{% url 'web:browse' %}?path={{ relative_path }}{{ directory }}">
                        <i class="fa fa-folder fa-fw"></i>
                        {{ directory }}
                    </a>
                </td>
            </tr>
            {% endfor %}
            {% for file in files %}
            <tr>
                <td>
                   <a href="{% url 'web:annotate' %}?path={{ relative_path }}{{ file }}">
                       <i class="fa fa-file fa-fw" style="color: #000000;"></i>
                       {{ file }}
                   </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
